body {
    font-family: 'Inika', serif;
    background-color: #C0C0C0;
    /* Cinza Prateado */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    margin: 0;
    background-image: url('acessorios.jpg');
    /* imagem de fundo */
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.logo {
    width: 167px;
    height: auto;
}

.content {
    display: flex;
}

aside {
    width: 220px;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.btn {
    background-color: #0044cc;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    text-align: center;
}

.btn-bottom {
    margin-bottom: 0;
}

.btn:hover {
    background-color: #003399;
}

main {
    flex-grow: 1;
    text-align: center;
}

.bold-text {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}

.team-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}


html ::-webkit-scrollbar {
    width: 13px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #4673cc;
}

html ::-webkit-scrollbar-track {
    background: #fff;
}